body{
    background-color: black;
    
}
header{
    background-color: #9D00ff;
    
}
#FirstWord{
    color: rgb(95, 22, 163);
    text-align: center;
    left: 500px;
    right: 500px;

}
#RamaSit{
    padding-top: 20px;
    height:230px;
    width:auto;
    min-width:100%    
}
.container {
    text-align: center;
    padding: 2rem;
    border: 2px solid violet;
    border-radius: 10px;
    background-color: #222;
  }
  
  #Remember {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: violet;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #fact{
    color: #c912fc;
  }
  main{
    background-color: #de811d;
    
  }
  #tysm{
    color: #5b8040;
    font-size: 5vw ;
    overflow:scroll;
    
  }
  footer{
    background-color: #6bff00
  }
  #song{
    color: #a0590d;
  }
  .le{
        float:left;
        width: 200px;
        margin: 10px;
  }